.sharable-attachments {

 .attachment-list {
   margin-bottom: .65em;

   .attachment-wrapper {
     padding: .5em 1em;
     border-radius: 10px;
     border-left: 3px solid #1394db;
     display: flex;
     background: whitesmoke;
     overflow: hidden;

     & > * {
       flex: 1;
     }

     .attachment-icon {
       max-width: 180px;
       display: flex;
       align-items: center;
       justify-content: center;
       margin-left: -1em;
     }
     .attachment-content {
       .title {
         font-weight: 700;
         font-size: .7rem;
         color: #fff;
       }

       .top {
         display: flex;
         gap: 1em;
       }
     }
/*     .view-attachment {
       max-width: 100px;
       display: inline-flex;
       align-items: center;
       justify-content: center;
       color: #1394DB;

       span {
         border: 2px solid #1394DB;
         border-radius: 50%;
         width: 40px;
         height: 40px;
         display: grid;
         place-items: center;
         transition: border 400ms ease-in;
         cursor: pointer;
         background: white;

         &:hover {
           border: 3px solid #1394DB;
         }
       }
     }*/
     .remove-attachment {
       max-width: 100px;
       display: inline-grid;
       align-items: center;
       justify-content: center;
       color: red;

       span {
         z-index: 999;
         border: 2px solid red;
         border-radius: 50%;
         width: 40px;
         height: 40px;
         display: grid;
         place-items: center;
         transition: border 400ms ease-in;
         cursor: pointer;
         background: white;

         &:hover {
           border: 3px solid red;
         }
       }
     }
   }
 }
}
