<div class="w-full shadow-lg box-item bg-white border-0 border-gray-500 rounded-xl" @fadeIn>
  <div class="flex content-center mt-1">
    <div class="aspect-square shadow-lg text-4xl w-20  h-20
         rounded-full !bg-white {{iconClass}} !mt-[-30px] !m-auto  p-[1.4rem]">
      <mat-icon inline>{{icon}}</mat-icon>
    </div>
  </div>
  <div class="flex flex-col items-center p-4">
    <h2 class="text-center">
      {{title}}
    </h2>
    @if (!loading) {
      <p class="text-center"  @fadeIn>
        {{description}}
      </p>
    }

    @if (loading) {
      <app-loader class="m-4" @fadeIn message="Checking status..."></app-loader>
    }

  </div>



  @if (!loading) {
    <div class="flex content-center mt-1" @fadeIn>
      <button
        class="rounded-[30px] !p-4 {{btnClass}} z-10 !mb-[-15px] !m-auto" (click)="actionClicked()">
        <span> {{btnTitle}} </span>
      </button>
    </div>
  }
</div>
