<div class="p-10 grid gap-10 md:grid-cols-2 lg:grid-cols-3">
  @for (menu of menus; track menu) {
  <div
    *appHasPermissionAndFeature="menu"
    [ngClass]=" routeAnimationsElements"
    class="activeMenu"
    (click)="goTo(menu)"
  >
    <div class="img-div bg-primary-800 group-hover:bg-primary-400">
      @if (menu.image) {
      <img alt="test" src="assets/images/icons/{{menu.image}}" />
      } @if (menu.icon && menu.iconType == 'SVG') {
      <mat-icon [svgIcon]="menu.icon"></mat-icon>
      } @if (menu.icon && menu.iconType != 'SVG') {
      <mat-icon>{{menu.icon}}</mat-icon>
      }
    </div>
    <div>
      <h2 class="text-word-primary text-xl font-black mb-1">{{menu.name}}</h2>
      <p class="text-word-secondary">{{menu.description}}</p>
    </div>
  </div>
  }
</div>
