<div class="flex flex-row" @fadeIn>
  <div class="flex shrink-0 w-12 h-12 bg-gray-100 rounded items-center justify-center text-[#1394db]">
    @if (!loading) {
      <ng-container @fadeIn>
        @if (!imageLink) {
          <mat-icon class="{{iconClass}}">{{icon}}</mat-icon>
        }
        @if (imageLink) {
          <img src="{{imageLink}}" style="height: 35px">
        }
      </ng-container>
    }

    @if (loading) {
      <mat-progress-spinner  [diameter]="30" mode="indeterminate">
      </mat-progress-spinner>
    }

  </div>
  <div class="pl-4">
    <div class="text-sm text-bold font-black text-word-primary mb-2 {{titleClass}}" [innerText]="title"></div>
    <div class="text-sm text-gray {{labelClass}}">{{label}}</div>
  </div>
</div>
