@if (viewType =='table') {
  <div ngProjectAs="table">
    <div class="flex justify-between">
      <span class="text-lg">Office Locations</span>
    </div>
    <app-paginated-data-table
      [query]="query"
      [apolloNamespace]="uaaApolloNamespace"
      [resetTable]="false"
      [mapFunction]="mapFunction"
      [tableConfigurations]="tableConfigurations"
      [loading]="loading$ | async"
      [actionButtons]="[]"
      [title]="'Office Locations'"
      (rowPreview)="viewItem($event)"
    ></app-paginated-data-table>
  </div>
}

@if (viewType=='view') {
  <div ngProjectAs="form">
    <div class="flex justify-between">
      <span class="text-lg">{{ viewDetailsTitle }}</span>
      <div class="">
        <button mat-button class="!border-2 !border-gray-100 !border-solid" (click)="closeDetails()">
          <mat-icon>close</mat-icon> Close
        </button>
      </div>
    </div>
    <app-view-office-location [selectedUuid]="selectedUuid"
      [selectedOfficeLocation]="selectedOfficeLocation">
    </app-view-office-location>
  </div>
}
