.report-title{
  /* Pre Qualification Shortlisted Applicants */

  position: absolute;
  width: 608px;
  height: 37px;

  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 37px;
  /* identical to box height */

  color: #FFFFFF;


}

.label{
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 18px;
  color: #000000;
}

.data-label{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #9B9B9B;
}

.data-value{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1AA0DA;
}
