<div>
  @if(crbDataFetched == null || crbDataFetched?.regNo == null){
  <div class="row">
    <div class="col-sm-9">
      <mat-form-field appearance="outline">
        <mat-label>CRB Registration Number</mat-label>
        <input
          type="text"
          matInput
          [(ngModel)]="regNo"
          placeholder="Enter CRB Registration Number"
        />
      </mat-form-field>
    </div>

    @if(regNo && !fetchingData){
    <div class="col-sm-3">
      <button
        (click)="checkData()"
        style="height: 50px; margin-top: 5px; width: 100%; border-radius: 10px;"
        mat-raised-button
        color="primary"
      >
        <mat-icon>
          check_circle_outline
        </mat-icon>
        Search
      </button>
    </div>
    }@else{
    <div class="col-sm-3">
      <button
        disabled="true"
        style="
          height: 50px;
          margin-top: 5px;
          width: 100%;
          border-radius: 10px;
          background-color: rgb(160, 160, 160);
          color: white;
        "
        mat-raised-button
      >
        <mat-icon>
          check_circle_outline
        </mat-icon>
        Search
      </button>
    </div>
    } @if(previousData){
    <div>
      <table class="table sample-table">
        <tbody>
          <tr>
            <td>Business Line</td>
            <th>{{ config.businessLine?.businessLine?.name }}</th>
          </tr>
          <tr>
            <td>Registration Number</td>
            <th>{{ previousData?.certificateNumber }}</th>
          </tr>
          @if (previousData?.className) {
          <tr>
            <td>Class Name</td>
            <th>{{ previousData?.className }}</th>
          </tr>
          } @if (previousData?.classType) {
          <tr>
            <td>Class Type</td>
            <th>{{ previousData?.classType }}</th>
          </tr>
          } @if (previousData?.expiryDate) {
          <tr>
            <td>
              <span>Registration Date</span>
            </td>
            <th>{{ previousData?.registrationDate | date }}</th>
          </tr>
          } @if (config?.tenderer?.name) {
          <tr>
            <td>Registered to</td>
            <th>{{ config?.tenderer?.name }}</th>
          </tr>
          } @if (config?.tenderer?.address) {
          <tr>
            <td>Physical Address</td>
            <th>{{ config?.tenderer?.address }}</th>
          </tr>
          } @if (config?.tenderer?.postalAddress) {
          <tr>
            <td>Postal Address</td>
            <th>{{ config?.tenderer.postalAddress }}</th>
          </tr>
          } @if (previousData?.createdBy) {
          <tr>
            <td>Email</td>
            <th>{{ previousData.createdBy }}</th>
          </tr>
          } @if (previousData?.description) {
          <tr>
            <td>Description</td>
            <th>{{ previousData.description }}</th>
          </tr>
          }
        </tbody>
      </table>
    </div>
    }
  </div>
  } @if (fetchingData) {
  <app-loader [message]="'Please wait, searching you are information...'"></app-loader>
  }

  <div>
    @if (!sendToPPRA && crbDataFetched && !fetchingData && crbDataFetched.regNo != null &&
    crbDataFetched.regNo != 'N/A') {
    <div class="col-sm-12" @fadeIn>
      <table class="table sample-table">
        <tbody>
          <tr>
            <td>Business Line</td>
            <th>{{ config.businessLine?.businessLine?.name }}</th>
          </tr>
          <tr>
            <td>Registration Number</td>
            <th>{{ crbDataFetched?.regNo }}</th>
          </tr>
          @if (crbDataFetched?.className) {
          <tr>
            <td>Class Name</td>
            <th>{{ crbDataFetched?.className }}</th>
          </tr>
          } @if (crbDataFetched?.classType) {
          <tr>
            <td>Class Type</td>
            <th>{{ crbDataFetched?.classType }}</th>
          </tr>
          } @if (crbDataFetched?.expiryDate) {
          <tr>
            <td>
              <span>Registration Date</span>
            </td>
            <th>{{ crbDataFetched?.registrationDate | date }}</th>
          </tr>
          } @if (crbDataFetched?.name) {
          <tr>
            <td>Registered to</td>
            <th>{{ crbDataFetched?.name }}</th>
          </tr>
          } @if (crbDataFetched?.address) {
          <tr>
            <td>Physical Address</td>
            <th>{{ crbDataFetched?.address }}</th>
          </tr>
          } @if (crbDataFetched?.postalAddress) {
          <tr>
            <td>Postal Address</td>
            <th>{{ crbDataFetched.postalAddress }}</th>
          </tr>
          } @if (crbDataFetched?.email) {
          <tr>
            <td>Email</td>
            <th>{{ crbDataFetched.email }}</th>
          </tr>
          } @if (crbDataFetched?.phone) {
          <tr>
            <td>Phone</td>
            <th>{{ crbDataFetched.phone }}</th>
          </tr>
          }
        </tbody>
      </table>
      @if(crbDataFetched?.name == config?.tenderer?.name){
      <div class="col-sm-12">
        <app-save-area
          [confirmFirst]="true"
          [saveText]="'Update Information'"
          loadingMessage="Saving data ..."
          [savingData]="loading"
          (save)="sendForApproval()"
          (cancel)="closeModal()"
        ></app-save-area>
      </div>
      } @if((crbDataFetched?.name != config?.tenderer?.name) &&
      config.businessLine?.businessLine?.name.includes(crbDataFetched?.classType.toLowerCase())){
      <div class="col-sm-12">
        <div class="mt-3 mb-2 p-3 text-black bg-white rounded shadow">
          <p>
            Unfortunately, updating your information is not possible at this time, as the name
            provided by the CRB
            <span class="text-black font-bold">{{crbDataFetched?.name}}</span> does not match the
            registered name in NeST
            <span class="text-black font-bold">{{config?.tenderer?.name}}</span>.
          </p>
        </div>
      </div>
      } @if((crbDataFetched?.name != config?.tenderer?.name) &&
      !config.businessLine?.businessLine?.name.includes(crbDataFetched?.classType.toLowerCase())){
      <div class="col-sm-12">
        <div class="mt-3 mb-2 p-3 text-black bg-white rounded shadow">
          <p>
            Unfortunately, updating your information is not possible at this time, as the name
            provided by the CRB
            <span class="text-black font-bold">{{crbDataFetched?.name}}</span> does not match the
            registered name in NeST
            <span class="text-black font-bold">{{config?.tenderer?.name}}</span>. And class type
            from CRB is
            <span class="text-black font-bold">{{ crbDataFetched?.classType }}</span> while
            registered business line is
            <span class="text-black font-bold"> {{ config.businessLine?.businessLine?.name }}</span>
          </p>
        </div>
      </div>
      } @if((crbDataFetched?.name == config?.tenderer?.name) &&
      !config.businessLine?.businessLine?.name.includes(crbDataFetched?.classType.toLowerCase())){
      <div class="col-sm-12">
        <div class="mt-3 mb-2 p-3 text-black bg-white rounded shadow">
          <p>
            Unfortunately, updating your information is not possible at this time, class type from
            CRB is
            <span class="text-black font-bold">{{ crbDataFetched?.classType }}</span> while
            registered business line is
            <span class="text-black font-bold"> {{ config.businessLine?.businessLine?.name }}</span>
          </p>
        </div>
      </div>
      }
    </div>
    } @if(sendToPPRA){
    <div class="block bg-white p-3">
      <div class="flex flex-col space-y-2 justify-center items-center px-11 py-11">
        <div class="text-center space-y-5">
          <div
            class="aspect-square text-4xl w-20 rounded-full border-2 border-[#049E26] m-auto !bg-[#EDFCF0] grid place-content-center !text-gray-700"
          >
            <mat-icon inline class="text-[#049E26]">done</mat-icon>
          </div>
          <h3 class="!font-bold text-[#049E26]">Application Submitted Successfully.</h3>
          <p class="justify-center text-black font-bold">
            Your business line update has been successfully submitted to PPRA for approval. The
            approval process may take up to 3 working days. Please be patient, and you will be
            notified regarding the approval or any required corrections.
          </p>
          <div class="col-sm-12 col-xl-12 p-0 ml-4 mt-8">
            <!-- <a
              [routerLink]="['/nest-tenderer/-dashboard']"
              mat-button
              href=""
              class="!-ml-[20px] !border !border-primary !bg-primary rounded !text-white"
              >
              Dashboard
            </a> -->
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
