<table class="table m-0">
  <thead>
    <tr>
      <th style="width: 56px">S/N</th>
      <th>Specification Name</th>
      <th>Specification Description</th>
    </tr>
  </thead>
  <tbody>
    @for (spec of ncSpecifications | sortBy: 'asc': 'id'; track spec; let i1 = $index) {
      <tr style="--order: {{ (i1 + 1) * 0.7 }}" class="move-up">
        <td class="relative align-middle">
          {{1 + i1}}
          <!--<mat-checkbox></mat-checkbox>-->
          <!--<div class="arrow-d-c cursor-pointer {{ 'expanded'}}">
          <mat-icon>chevron_right</mat-icon>
        </div>-->
      </td>
      <td class="align-middle" [colSpan]="spec?.nonConsultancyPerformanceRequirements?.length > 0 ? 2 : ''">{{spec.name}}</td>
      @if (spec?.nonConsultancyPerformanceRequirements?.length === 0) {
        <td class="align-middle"
        [innerHTML]="spec.description"></td>
      }
    </tr>
    @if (spec?.nonConsultancyPerformanceRequirements?.length > 0) {
      <tr>
        <td colspan="3" class="indent-left" style="padding-left: 56px !important;">
          <table class="table m-0">
            <thead>
              <tr>
                <th style="width: 56px">S/N</th>
                <th>Service Output Name</th>
                <th>Specification Requirement</th>
                <th>Performance Standard</th>
              </tr>
            </thead>
            <tbody>
              @for (subSpec of spec?.nonConsultancyPerformanceRequirements | sortBy: 'asc': 'id'; track subSpec; let i2 = $index) {
                <tr style="--order: {{ ((i1 + 1) + i2) * 0.7 }}" class="move-up">
                  <td class="relative align-middle">
                    {{i2 + 1}}
                  </td>
                  <td class="align-middle">{{subSpec?.serviceOutputName}}</td>
                  <td class="align-middle">{{subSpec?.specificationRequirement}}</td>
                  <td class="align-middle">{{subSpec?.performanceStandard}}</td>
                </tr>
              }
            </tbody>
          </table>
        </td>
      </tr>
    }
  }
</tbody>
</table>
