<div class="w-[300px] h-[25px]">
    <div class="flex align-items-center rounded-xl bg-[#ECECEC] ml-2 shadow-sm">
        <div class="flex h-12 w-12 items-center justify-center rounded-full border border-white bg-blue-50">
            <img src="/assets/images/avatar.svg" class="rounded-circle w-[40px] h-[40px]" alt=""/>
        </div>
        <div class="ml-4 pt-[13px]">
            <p class="font-semibold text-xs">Adrian Emmanuel</p>
            <p class="text-sm text-gray-500">adrian.emanuel&#64;gmail.com</p>
        </div>
    </div>
</div>