table {
  width: 100%;
  td {
    padding-left: 10px !important;
  }

  th {
    padding-left: 10px !important;
    color: var(--textcolor) !important;
    font-weight: bolder !important;
  }
}

tr.table-detail-row {
  height: 0;
}

.card-1 {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.75) !important;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}

.card-1:hover {
  border-top: 1px solid rgba(0, 0, 0, 0.4) !important;
  box-shadow: 0 14px 28px rgba(3, 31, 35, 0.12),
    0 10px 10px rgba(3, 31, 35, 0.22) !important;
  transform: scale(1.01) !important;
  background-color: rgba(255, 255, 255, 0.85) !important;
}

.selected-row {
  box-shadow: 0 14px 28px rgba(3, 31, 35, 0.12),
    0 10px 10px rgba(3, 31, 35, 0.22) !important;
  transform: scale(1.008) !important;
  background-color: rgba(255, 255, 255, 0.85) !important;
}

.top-area {
  display: grid;
  grid-template-columns: 10fr 0fr;

  .search-area {
    align-self: end;
  }

  .excel-button {
    justify-self: end;
    align-self: center;
    margin-bottom: 12px;
  }
}

.action-button {
  height: 28px;
  border-radius: 50%;
  padding: 2px 5px 5px 5px;
  cursor: pointer !important;
}

.active {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.error {
  background-color: rgba(255, 0, 6, 0.18) !important;
  color: black !important;
}
.success {
  background-color: rgba(102, 255, 0, 0.18) !important;
  color: black !important;
}

a {
  border-radius: 10% !important;

  // mat-icon {
  //   font-size: 12px;
  //   height: 30px;
  //   width: 30px;
  // }
}

.mat-mdc-button {
  line-height: 28px;
  min-width: 56px;
}

.mat-mdc-cell,
.mat-mdc-footer-cell {
  font-size: 12px;
}

.alias {
  cursor: alias;
}
