<div class="w-full h-[100vh] text-center grid place-content-center">
  <div class="space-y-4">
    <img
      class="h-[150px] m-auto"
      src="../../../../assets/images/taneps.png"
      alt=""
      loading="lazy"
    />
    <h2 class="!text-[30px]">Coming Soon</h2>
    <p>Sorry, this page is still in development</p>
    <button
      (click)="goBack()"
      mat-button
      class="my-2 !border !border-primary !bg-primary rounded !text-white"
    >
      <mat-icon matPrefix class="mr-3">keyboard_backspace</mat-icon>Go Back
    </button>
  </div>
</div>
