.speech-bubble{
  position: relative;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #e6e6e6;
	border-top: 0;
	margin-left: -20px;
	margin-top: -20px;
}
// .speech-bubble:after {
// 	content: '';
// 	position: absolute;
// 	left: 0;
// 	top: 50%;
// 	width: 0;
// 	height: 0;
// 	border: 20px solid transparent;
// 	border-right-color: #e6e6e6;
// 	border-left: 0;
// 	margin-top: -20px;
// 	margin-left: -20px;

//   border-top-left-radius:80%;
//   border-bottom-left-radius:200%;
// }

.speech-bubble:after {
	@apply shadow-inner
}

.tenderer-slate{
  display: grid;
  grid-template-columns: 1fr 24fr 1fr;
}
