
<div class="flex justify-between">
  <span class="text-lg">Curriculum Vitae</span>
</div>

@if (loading) {
  <app-loader message="Fetching Curriculum details..."></app-loader>
}

@if (!loading) {
  <div class="mt-4">
    <mat-card appearance="outlined">
      @if (personnelInformation) {
        <div class="row">
          @if (personnelInformation.firstName) {
            <div class="col-sm-4">
              <app-view-details-item key="First Name" [value]="personnelInformation.firstName"></app-view-details-item>
            </div>
          }
          @if (personnelInformation.middleName) {
            <div class="col-sm-4">
              <app-view-details-item key="Last Name" [value]="personnelInformation.middleName"></app-view-details-item>
            </div>
          }
          @if (personnelInformation.lastName) {
            <div class="col-sm-4">
              <app-view-details-item key="Last Name" [value]="personnelInformation.lastName"></app-view-details-item>
            </div>
          }
          @if (personnelInformation.dateOfBirth) {
            <div class="col-sm-4">
              <app-view-details-item key="Date of Birth" [value]="personnelInformation.dateOfBirth"></app-view-details-item>
            </div>
          }
          @if (personnelInformation.placeOfBirth) {
            <div class="col-sm-4">
              <app-view-details-item key="Place of Birth" [value]="personnelInformation.placeOfBirth"></app-view-details-item>
            </div>
          }
          @if (personnelInformation.phone) {
            <div class="col-sm-4">
              <app-view-details-item key="Phone" [value]="personnelInformation.phone"></app-view-details-item>
            </div>
          }
          @if (personnelInformation.presentAddress) {
            <div class="col-sm-4">
              <app-view-details-item key="Address" [value]="personnelInformation.presentAddress"></app-view-details-item>
            </div>
          }
          @if (personnelInformation.gender) {
            <div class="col-sm-4">
              <app-view-details-item key="Gender" [value]="personnelInformation.gender"></app-view-details-item>
            </div>
          }
          @if (tendererDetails.tendererType && (tendererDetails.tendererType == 'INDIVIDUAL_FOREIGN' || tendererDetails.tendererType == 'INDIVIDUAL_LOCAL')) {
            <div class="col-sm-4">
        <div class="inline-flex items-center py-2 px-4 py-1 whitespace-nowrap px-2 !border
                          !border-primary !bg-primary rounded !text-white hover:bg-blue-700 hover:text-blue-700
                        focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-white !cursor-pointer"
                (click)="viewTendererCv(tendererDetails)">
                View CV
              </div>
            </div>
          }
          <!--      <div class="col-sm-4" *ngIf="personnelInformation.taxCertificateUuid">-->
          <!--        <div class="flex-col">-->
          <!--          <span class="text-grey  mb-2 mr-2">Business Registration Certificate</span>-->
          <!--          <button-->
          <!--            *ngIf="!fetchingAttachment"-->
          <!--            class="py-1 whitespace-nowrap px-2 !border !border-grey-300 rounded !text-grey"-->
          <!--            (click)="viewDocument(personnelInformation.taxCertificateUuid)" >-->
          <!--            <div class="flex">-->
          <!--              <img src="assets/images/pdf-icon.png" class="h-[20px] pr-1"/>-->
          <!--              <span class="text-grey">View Certificate</span>-->
        <!--            </div>-->
      <!--          </button>-->
      <!--          <div class="flex mt-[20px] sm:mt-auto space-x-2" *ngIf="fetchingAttachment">-->
      <!--            <mat-progress-spinner [diameter]="30" mode="indeterminate"></mat-progress-spinner>-->
    <!--          </div>-->
  <!--        </div>-->
<!--      </div>-->
</div>
}
@if (!personnelInformation) {
  <div>No Curriculum Vitae data found</div>
}
</mat-card>
</div>
}
