<div class="mt-2 flex group relative p-1 !border border-gray bg-white rounded">
  @if (!editMode) {
    <div>{{ item.label }}</div>
  }
  @if (editMode) {
    <input
      #inputRef
      [value]="item?.label"
      class="outline-none w-full"
      [placeholder]="placeholderText"
      (keyup)="onKeyUup($event)"
      />
  }
  @if (editMode && showOptions) {
    <div
      #optionElementRef
      class="absolute left-0 right-0 z-10 top-8"
      >
      <div class="shadow bg-white rounded-sm">
        @for (option of filteredOptions; track option) {
          <div
            class="p-3 !border-b cursor-pointer hover:bg-gray-50"
            (click)="select(option)"
            >
            {{ option.label }}
          </div>
        }
        @if (newItemToAdd) {
          <div
            class="p-3 !border-b cursor-pointer !bg-primary/20 hover:bg-gray-50"
            (click)="addNewItem()"
            >
            + Add '<strong>{{ newItemToAdd }}</strong
            >'
          </div>
        }
      </div>
    </div>
  }
  <div
    class="absolute hidden group-hover:flex -space-x-3 right-0 top-0 bottom-0 items-center"
    >
    @if (editMode) {
      <button
        (click)="onAccept()"
        mat-icon-button
        color="accent"
        aria-label="Accept"
        >
        <mat-icon inline>check</mat-icon>
      </button>
      <button mat-icon-button (click)="onCloseClick()" color="warn">
        <mat-icon inline>close</mat-icon>
      </button>
    }
    @if (!editMode) {
      @if (item.isEditable && !editMode) {
        <button
          (click)="toggleEditMode(true, item)"
          mat-icon-button
          color="primary"
          aria-label="Edit"
          >
          <mat-icon inline>edit</mat-icon>
        </button>
      }
      <button mat-icon-button (click)="onRemove(item)" color="warn">
        <mat-icon inline>delete</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon inline>menu</mat-icon>
      </button>
    }
  </div>
</div>
