<guest-layout
  [page_name]="'FORGOT_PASSWORD'|translate"
  [bodyBackgroundImage]="'/assets/images/register-bg-4.jpg'"
>
  <div class="p-2">
    <div class="container-fluid">
      @if (savedSuccessful) {
      <div class="row">
        <h1 class="text-center">
          {{'EMAIL_SENT_TO'|translate}} <span class="text-blue-500">{{ email }}</span>
        </h1>
        <p class="text-gray-600 text-center mt-2">
          {{'PASSWORD_RESET_LINK_SENT'|translate}}
        </p>
        <div class="grid place-items-center mt-3">
          <button
            [routerLink]="['']"
            mat-raised-button
            class="!border-1 !border-blue-800 !rounded-3xl"
          >
            <mat-icon>close</mat-icon> {{'CLOSE'|translate}}
          </button>
        </div>
      </div>
      } @if (!savedSuccessful) {
      <div class="row" [ngClass]="routeAnimationsElements">
        <div class="col-sm-12 p-0" @fadeIn>
          <mat-form-field appearance="outline">
            <mat-label>{{'EMAIL_ADDRESS'|translate}}</mat-label>
            <input
              matInput
              type="email"
              placeholder="{{'EMAIL_ADDRESS'|translate}}"
              [(ngModel)]="email"
            />
            <mat-icon matSuffix>mail_outline</mat-icon>
          </mat-form-field>
        </div>
        @if (validateEmail(email) && !errorMessageFound) {
        <div
          class="place-self-center"
          style="display: flex; align-items: center; justify-content: center;"
        >
          @if (email != '') {
          <re-captcha
            (resolved)="resolved($event)"
            siteKey="6LeLb5siAAAAAP4BEIURi24SFg6xhftWAa9FLtlk"
          ></re-captcha>
          }
        </div>
        } @if(errorMessageFound){
        <p class="lead text-center text-muted m-0">
          {{ this.errorTimeMessage }}
        </p>
        } @if (captcha) {
        <div class="col-sm-12 p-0 mt-3" @fadeIn>
          <button
            (click)="onSave(false)"
            [disabled]="
              !validateEmail(email)
            "
            class="border-1 !rounded-2xl !btn-primary"
            style="width: 100%; padding: 10px; color: white; background-color: #6cbde9;"
            color="#6cbde9"
            mat-raised-button
          >
            {{'SEND_PASSWORD_RESET_LINK'|translate}}
          </button>
        </div>
        } @if (showConfirm && !savingData) {
        <div class="col-sm-12 p-0 mt-3 grid place-items-center" @fadeIn>
          @if(!errorMessageFound){
          <p class="lead text-center text-muted m-0">
            {{'YOUR_WILL_RECEIVE_EMAIL_AT_TO_THE_SPECIFIED_ADDRESS'|translate}}
          </p>
          }
          <p>
            <small class="text-gray-500">{{ email }}</small>
          </p>
          <p class="confirm-div flex items-center">
            <button
              mat-raised-button
              class="no-button zoom-on-hover"
              color="warn"
              @fadeIn
              (click)="onCancelShowConfirm()"
            >
              <mat-icon>clear</mat-icon> {{'CANCEL'|translate}}
            </button>
            &nbsp;
            <button
              mat-raised-button
              class="yes-button zoom-on-hover"
              @fadeIn
              (click)="onSave(false)"
            >
              <mat-icon>done</mat-icon> {{'CONTINUE'|translate}}
            </button>
          </p>
        </div>
        } @if (savingData) {
        <div class="col-sm-12 p-0 mt-3" @fadeIn>
          <app-loader [message]="('SAVING_USER_DETAILS_PLEASE_WAIT'|translate)+'...'"></app-loader>
        </div>
        }
      </div>
      }
    </div>
  </div>

  <div class="text-center center mt-10">
    {{'ALREADY_HAVE_AN_ACCOUNT'|translate}}
    <a [routerLink]="['/login']" href="" class="font-medium !text-primary"
      >{{'SIGNIN'|translate}}
    </a>
  </div>
</guest-layout>
