@if (groupedDetails) {
  <div class="space-y-4">
    @for (group of groupedDetails; track group) {
      <div class="details-table">
        @if(group.title ){
          <div class="details-titile">
            {{ group.title }}
          </div>
        }
        @for (item of group.items; track item) {
          <div [ngClass]="showBorder ? 'details-row p-0':'details-row'">
            <div [ngClass]="showBorder ? 'flex w-50 details-name border-r p-2' : 'details-name'">
              {{ item.label }}
            </div>
            @if (item.valueType != 'file') {
              <div [ngClass]="showBorder ? 'details-value p-2' : 'details-value'">
                {{ item.value }}
              </div>
            }
            @if (item.valueType == 'file') {
              <div class="details-value">
                @if (item.value) {
                  <button
                    class="!text-primary !hover:text-primary-dark"
                    (click)="viewFile(item.value)"
                    >
                    View File
                  </button>
                }
              </div>
            }
          </div>
        }
      </div>
    }
  </div>
}
