<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <div class="text-center space-y-2 items-center space-x-4">
    <simple-linear-progress-bar
      [loaderProgress]="progress()"
      [loaderColor]="!data.failed ? 'accent' : 'danger'"
      >
    </simple-linear-progress-bar>
    @if (!data.failed) {
      <div [innerHTML]="data.message | doNotSanitize"></div>
    }
    @if (data.failed) {
      <div class="text-red-500">An error occured</div>
    }
  </div>
</div>
@if (data.allowCancel) {
  <div
    mat-dialog-actions
    class="flex justify-end w-full"
    >
    <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  </div>
}
