<div class="flex items-center justify-center h-screen bg-gray-200">
  <div class="container">
    <div class="bg-white rounded-lg shadow-lg p-5 md:p-20 mx-2">
      <div class="text-center">
        <img
          class="h-[50px] m-auto"
          src="../../../../assets/images/taneps.png"
          alt=""
          loading="lazy"
        />

        <section class="wrapper">
          <div class="top">
            <p
              class="mt-4 text-[20px] font-bold tracking-tight text-black sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl"
            >
              <span class="block text-black">Under Maintenance</span>
            </p>
          </div>
          <div class="bottom" aria-hidden="true">
            <p
              class="mt-4 text-[20px] font-bold tracking-tight text-black sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl"
            >
              <span class="block text-black">Under Maintenance</span>
            </p>
            4
          </div>
        </section>
        <!-- <h1 class='text-xl md:text-3xl mt-10'>Coming Soon</h1> -->
        <p class="text-md md:text-xl mt-10">
          We apologize for the inconvenience. Our System is currently undergoing maintenance but
          will be back soon. Thank you for your patience.
        </p>
      </div>
      <div class="flex flex-wrap mt-10 justify-center">
        <div class="m-3">
          <a
            href="http://www.facebook.com/PPRA_Tanzania-2588600117819083"
            target="_blank"
            title="PPRA On Facebook"
            class="bg-white tracking-wide text-gray-800 font-bold rounded border-2 border-blue-600 hover:border-blue-600 hover:bg-blue-600 hover:text-black shadow-md py-2 px-6 inline-flex items-center"
          >
            <mat-icon [svgIcon]="'facebook'" class="align-middle mr-3"></mat-icon>
            <span class="mx-auto">Facebook</span>
          </a>
        </div>
        <div class="m-3">
          <a
            href="http://www.twitter.com/PpraTanzania"
            target="_blank"
            title="PPRA On Twitter"
            class="bg-white tracking-wide text-gray-800 font-bold rounded border-2 border-blue-500 hover:border-blue-500 hover:bg-blue-500 hover:text-black shadow-md py-2 px-6 inline-flex items-center"
          >
            <mat-icon [svgIcon]="'twitter'" class="align-middle mr-3"></mat-icon>
            <span class="mx-auto">Twitter</span>
          </a>
        </div>
        <div class="m-3">
          <a
            href="http://www.instagram.com/ppra_tanzania"
            target="_blank"
            title="PPRA On Instagram"
            class="bg-white tracking-wide text-gray-800 font-bold rounded border-2 border-red-600 hover:border-red-600 hover:bg-red-600 hover:text-black shadow-md py-2 px-6 inline-flex items-center"
          >
            <mat-icon [svgIcon]="'instagram'" class="align-middle mr-3"></mat-icon>
            <span class="mx-auto">Instagram</span>
          </a>
        </div>
        <!-- <div class="m-3">
            <a href="https://www.ppra.go.tz/contact-us" target="_blank" title="PPRA On Facebook"
               class="bg-white tracking-wide text-gray-800 font-bold rounded border-2 border-orange-500 hover:border-orange-500 hover:bg-orange-500 hover:text-black shadow-md py-2 px-6 inline-flex items-center">
                <mat-icon [svgIcon]="'pintrest'" class="align-middle mr-3"></mat-icon>
              <span class="mx-auto">Pinterest</span>
            </a>
          </div> -->
        <div class="m-3">
          <a
            href="http://www.ppra.go.tz"
            target="_blank"
            title="PPRA Website"
            class="md:w-32 bg-white tracking-wide text-gray-800 font-bold rounded border-2 border-blue-500 hover:border-blue-500 hover:bg-blue-500 hover:text-black shadow-md py-2 px-6 inline-flex items-center"
          >
            <mat-icon [svgIcon]="'webicon'" class="align-middle mr-3"></mat-icon>
            <span class="mx-auto">PPRA</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
