<guest-layout [page_name]="title"
  [bodyBackgroundImage]="'/assets/images/login-bg-2.jpg'"
  page_sub_title="{{ 'CREATE_PASSWORD' | translate }}">
  <div [ngClass]="routeAnimationsElements">
    <form [formGroup]="changePasswordForm"
      (ngSubmit)="submitCreatePassword()">
      <div class="row mt-2">
        <div class="col-sm-12">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>
                {{ "PASSWORD" | translate }}
              </mat-label>
              <input [type]="hide1 ? 'password' : 'text'"
                formControlName="newPassword"
                autocomplete="off"
                matInput
                placeholder="{{ 'PASSWORD' | translate }}">
              <!-- <mat-icon matSuffix>lock</mat-icon> -->
              <mat-icon (click)="hide1 = !hide1"
                class="mx-2 cursor-pointer"
                matSuffix>
                {{
                hide1 ? "visibility_off" : "visibility"
                }}
              </mat-icon>
              <mat-hint>
                {{ "PASSWORD_MUST_8_MINIMUM" | translate }}
              </mat-hint>
              <mat-error>
                @if (
                  !changePasswordForm.get('newPassword').value &&
                  changePasswordForm.get('newPassword').touched
                  ) {
                  <span>
                    {{ "NEW_PASSWORD_FIELD_REQUIRED" | translate }}
                  </span>
                }
                @if (
                  changePasswordForm.get('newPassword').value.length < 8 &&
                  changePasswordForm.get('newPassword').touched
                  ) {
                  <span>
                    <br>
                      {{ "NEW_PASSWORD_MUST_8_MINIMUM" | translate }}
                    </span>
                  }
                  @if (
                    changePasswordForm.get('newPassword').value.length > 64 &&
                    changePasswordForm.get('newPassword').touched
                    ) {
                    <span>
                      <br>
                        {{ "NEW_PASSWORD_NOT_EXCEED_64" | translate }}
                      </span>
                    }
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12 p-0">
                <app-password-strength-bar [passwordToCheck]="changePasswordForm.get('newPassword').value"
                  [barLabel]="'PASSWORD_STRENGTH' | translate"
                (strength)="getStrength($event)"></app-password-strength-bar>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <mat-form-field appearance="outline">
                  <mat-label>
                    {{ "CONFIRM_PASSWORD" | translate }}
                  </mat-label>
                  <input [type]="hide2 ? 'password' : 'text'"
                    formControlName="confirmPassword"
                    autocomplete="off"
                    matInput
                    placeholder="{{ 'CONFIRM_PASSWORD' | translate }}">
                  <!-- <mat-icon matSuffix>lock</mat-icon> -->
                  <mat-icon (click)="hide2 = !hide2"
                    class="mx-2 cursor-pointer"
                    matSuffix>
                    {{
                    hide2 ? "visibility_off" : "visibility"
                    }}
                  </mat-icon>
                  <mat-error>
                    @if (
                      !changePasswordForm.get('confirmPassword').value &&
                      changePasswordForm.get('confirmPassword').touched
                      ) {
                      <span>
                        {{ "CONFIRM_PASSWORD_FIELD_REQUIRED" | translate }}
                      </span>
                    }
                    @if (
                      changePasswordForm.get('confirmPassword').value.length <
                      8 && changePasswordForm.get('confirmPassword').touched
                      ) {
                      <span>
                        <br>
                          {{ "CONFIRM_PASSWORD_MUST_8_MINIMUM" | translate }}
                        </span>
                      }
                      @if (
                        changePasswordForm.get('confirmPassword').value.length >
                        64 && changePasswordForm.get('confirmPassword').touched
                        ) {
                        <span>
                          <br>
                            {{ "CONFIRM_PASSWORD_NOT_EXCEED_64" | translate }}
                          </span>
                        }
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div>
            @if (loading) {
              <div
                class="col-sm-12"
                @fadeIn>
                <app-loader message="{{ 'LOADING' | translate }}..."></app-loader>
              </div>
            }
          </div>
          <div [ngClass]="routeAnimationsElements">
            @if (!loading) {
              <div
                class="flex justify-end items-center !mb-[40px]">
                <!-- <a [routerLink]="['', 'login']"  class="!text-primary">Go to Login?</a> -->
			<button [disabled]="
          changePasswordForm.invalid ||
          changePasswordForm.get('newPassword').value.length > 64 ||
          changePasswordForm.get('confirmPassword').value.length > 64 ||
          changePasswordForm.get('newPassword').value !=
            changePasswordForm.get('confirmPassword').value ||
          passwordStrength !== 100
        "
                  (click)="submitCreatePassword()"
                  mat-flat-button
                  color="primary"
                  class="!m-0 py-2 items-center flex flex-wrap">
                  {{ "SUBMIT" | translate }}
                  <mat-icon id="login-arrow">arrow_forward</mat-icon>
                </button>
              </div>
            }
          </div>
          <!-- <div [ngClass]="routeAnimationsElements"> -->
          <!-- <div class="text-center center mt-10" [ngClass]="routeAnimationsElements"> -->
          <!-- Don't have an account? -->
          <!-- <a [routerLink]="['/register']" href="" class="font-medium !text-primary" -->
          <!-- >Create one now</a -->
          <!-- > -->
        <!-- </div> -->
      <!-- </div> -->
    </guest-layout>
