<guest-layout [page_name]="'Sign In'" [bodyBackgroundImage]="'/assets/images/login-bg-2.jpg'">
  <div [ngClass]="routeAnimationsElements">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Email</mat-label>
      <mat-icon matPrefix class="mr-3">email</mat-icon>
      <input
        type="email"
        matInput
        [(ngModel)]="username"
        placeholder="Enter your email"
        autocomplete="off"
        />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Password</mat-label>
      <mat-icon matPrefix class="mr-3">lock</mat-icon>
      <input
        type="password"
        matInput
        [(ngModel)]="password"
        [type]="hide ? 'password' : 'text'"
        placeholder="Enter your password"
        autocomplete="off"
        />
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

    </mat-form-field>
  </div>
  <div>
    @if (loading) {
      <div class="col-sm-12" @fadeIn>
        <app-loader message="Logging in..."></app-loader>
      </div>
    }
  </div>
  <div [ngClass]="routeAnimationsElements">
    @if (!loading) {
      <div class="flex justify-between items-center !mb-[40px]">
        <a href=" " class="!text-primary">Forgot password?</a>
        <button
          (click)="submitLogin({username, password})"
          mat-flat-button
          [disabled]="!username || !password"
          color="primary"
          class="!m-0 py-2 items-center flex flex-wrap"
          >
          Sign In <mat-icon id="login-arrow">arrow_forward</mat-icon>
        </button>
      </div>
    }



  </div>
  <div [ngClass]="routeAnimationsElements">
    <div class="text-center center mt-10" [ngClass]="routeAnimationsElements">
      Don't have an account?
      <a [routerLink]="['/register']" href="" class="font-medium !text-primary"
        >Create one now</a
        >
      </div>
    </div>
  </guest-layout>

