<!-- footer start -->
<footer class="bg-dark footer">
  <div class="container-fluid">
    <div class="row mb-5" style="margin-bottom: 0 !important">
      <div class="col-lg-4">
        <div class="pr-lg-4">
          <div class="mb-4">
            <img
              loading="lazy"
              style="background-color: transparent !important"
              src="assets/images/logo.png"
              class="brand-logo"
              alt="ppra-logo"
              height="85"
            />
          </div>
          <p>
            We support various public procurement procedures including user
            registration, tender notification, tender preparation and
            submission, online tender evaluation, contract awarding, creation
            and management of catalogue, creation and management of framework
            agreements and auctions and payments.
          </p>
          <ul class="list-inline social-links">
            <li class="list-inline-item">
              <a
                href="http://www.facebook.com/PPRA_Tanzania-2588600117819083"
                target="_blank"
                ><i
                  nz-icon
                  nzType="facebook"
                  style="font-size: 42px"
                  nzTheme="outline"
                ></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="http://www.twitter.com/PpraTanzania" target="_blank"
                ><i
                  nz-icon
                  nzType="twitter"
                  style="font-size: 42px"
                  nzTheme="outline"
                ></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="http://www.instagram.com/ppra_tanzania" target="_blank"
                ><i
                  nz-icon
                  nzType="instagram"
                  style="font-size: 42px"
                  nzTheme="outline"
                ></i
              ></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="row">
          <div class="col-lg-3">
            <div class="footer-list">
              <h5 class="text-white mb-2 footer-list-title">About PPRA</h5>
              <ul class="list-unstyled">
                <li><a href="about.html">Who We Are</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="career.html">Career</a></li>
                <li><a href="contact-us.html">Contact</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="footer-list">
              <h5 class="text-white mb-2 footer-list-title">Contact Us</h5>
              <ul class="list-unstyled">
                <li><span class="footer-h-title">Head Office:</span></li>
                <li>Chief Executive Officer</li>
                <li>Public Procurement Regulatory Authority(PPRA),</li>
                <li>Kambarage Tower, 9th Floor,</li>
                <li>PSPF Road,</li>
                <li>PO. Box 2865,</li>
                <li>41104 Dodoma</li>
                <li>Tanzania</li>
                <br />
                <li>Phone: +255 (0)26 2963854</li>
                <li>Email : support&#64;nest.go.tz</li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="footer-list">
              <h5 class="text-white mb-2 footer-list-title">
                Coastal Zonal Office
              </h5>
              <ul class="list-unstyled">
                <li>Bandari Road,Off Modern Street</li>
                <li>GPSA Building</li>
                <li>Kurasini, Dar es Salaam - Tanzaniat</li>
                <li>Tel: +255 (0)22 212 9317</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer end -->
