@if (loading) {
<app-loader message="Loading..."></app-loader>
} @if (!loading) {
<div class="w-full">
  <mat-accordion>
    @for ( mergedProcurementRequisition of
    mergedMainProcurementRequisition?.mergedProcurementRequisitions; track
    mergedProcurementRequisition; let i = $index) {
    <mat-expansion-panel [disabled] class="custom-panel" [expanded]="i == 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ mergedProcurementRequisition?.lotDescription }} ({{
          mergedProcurementRequisition?.lotNumber }})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <table class="table m-0">
        <thead>
          <tr>
            <th style="width: 54px;">S/N</th>
            <th>Item Gfs Code</th>
            <th>Item Description</th>
            <th>From Department</th>
          </tr>
        </thead>
        <tbody>
          @if (mergedProcurementRequisition?.mergedProcurementRequisitionItems?.length === 0) {
          <tr>
            <td colspan="4" class="text-center">Currently There is no Items in the List</td>
          </tr>
          } @for (pReqItem of mergedProcurementRequisition?.mergedProcurementRequisitionItems |
          sortBy: 'asc': 'id'; track pReqItem; let i1 = $index) {
          <tr style="--order: {{ i1 * 0.7 }}" class="move-up">
            <td class="relative align-middle">
              {{i1 + 1}}
              <div
                class="arrow-d-c cursor-pointer {{!toggleViewReqItem[pReqItem.uuid] ? 'expanded' : ''}}"
                (click)="toggleViewReqItem[pReqItem.uuid] = !toggleViewReqItem[pReqItem.uuid]"
              >
                <mat-icon>chevron_right</mat-icon>
              </div>
            </td>
            <td class="align-middle">{{pReqItem?.gfsCode?.code}}</td>
            <td class="align-middle">{{pReqItem?.gfsCode?.description}}</td>
            <td class="align-middle">{{pReqItem?.departmentName || 'N/A'}}</td>
          </tr>
          @if (!toggleViewReqItem[pReqItem.uuid]) {
          <tr>
            <td colspan="4" class="indent-left" style="padding-left: 54px !important;">
              <div>
                <table class="table m-0">
                  <thead>
                    <tr>
                      <th style="width: 56px;">S/N</th>
                      <th>Commodity Title Code</th>
                      <th>Commodity Title</th>
                      <th>Description</th>
                      <th>Unit of Measure</th>
                      @if(showEstimatedBudget){
                      <th class="item-number">Estimated Unit Price</th>
                      }
                    </tr>
                  </thead>
                  <tbody>
                    @for (itemization of pReqItem?.mergedRequisitionItemizations | sortBy: 'asc':
                    'id'; track itemization; let i2 = $index) {
                    <tr style="--order: {{ i2 * 0.7 }}" class="move-up">
                      <td class="relative align-middle">
                        {{i2 + 1}}
                      </td>
                      <td class="align-middle">{{itemization?.unspscCode?.commodityTitleCode}}</td>
                      <td class="align-middle">{{itemization?.unspscCode?.commodityTitle}}</td>
                      <td class="align-middle">{{itemization?.description}}</td>
                      <td class="align-middle">{{itemization?.unitOfMeasure}}</td>
                      @if(showEstimatedBudget){
                      <td class="align-middle item-number">
                        {{itemization?.quantity}} x {{itemization?.estimatedUnitCost | number}} =
                        {{itemization?.estimatedUnitCost * itemization.quantity | number}}/=
                      </td>
                      }
                    </tr>
                    @if(showEstimatedBudget){
                    <tr>
                      <td colspan="5" class="item-number">Grand Total</td>
                      <td class="align-middle item-number font-semibold">
                        {{getGrandTotal(pReqItem?.mergedRequisitionItemizations) | number}} /=
                      </td>
                    </tr>
                    } @for (mergedItemization of itemization?.mergedItemizations || []; track
                    mergedItemization) { @if
                    (attachmentSharable[mergedItemization?.requisitionItemization?.uuid] |
                    withLoading | async; as data) { @if (data.value && !data.loading) {
                    <tr>
                      <td colspan="6">
                        <app-sharable-attachment-form
                          [attachmentList]="data.value"
                          [viewMode]="true"
                        >
                        </app-sharable-attachment-form>
                      </td>
                    </tr>
                    } @if (data.loading) {
                    <tr>
                      <td colspan="6" class="align-middle">
                        Checking Attachments...
                      </td>
                    </tr>
                    } } } }
                  </tbody>
                </table>
                <div class="mb-2">
                  <app-sharable-attachment-form
                    [attachmentList]="attachmentList[pReqItem.uuid]"
                    [viewMode]="true"
                  >
                  </app-sharable-attachment-form>
                </div>
              </div>
              <table class="table m-0">
                <thead>
                  <tr>
                    <th style="width: 56px;">S/N</th>
                    <th>Specification Name</th>
                    <th>Specification Description</th>
                  </tr>
                </thead>
                <tbody>
                  @for (spec of pReqItem?.mergedConsultancyRequisitionSpecifications | sortBy:
                  'asc': 'id'; track spec; let i1 = $index) {
                  <tr style="--order: {{ (i1 + 1) * 0.7 }}" class="move-up">
                    <td class="relative align-middle">
                      {{1 + i1}}
                    </td>
                    <td
                      class="align-middle"
                      [colSpan]="spec?.mergedConsultancySubRequisitionSpecifications?.length > 0 ? 2 : ''"
                    >
                      {{spec.name}}
                    </td>
                    @if (spec?.mergedConsultancySubRequisitionSpecifications?.length === 0) {
                    <td class="align-middle" [innerHTML]="spec.description"></td>
                    }
                  </tr>
                  @if (spec?.mergedConsultancySubRequisitionSpecifications?.length > 0) {
                  <tr>
                    <td colspan="3" class="indent-left" style="padding-left: 56px !important;">
                      <table class="table m-0">
                        <thead>
                          <tr>
                            <th style="width: 56px;">S/N</th>
                            <th>Name</th>
                            <th>Description</th>
                          </tr>
                        </thead>
                        <tbody>
                          @for (subSpec of spec?.mergedConsultancySubRequisitionSpecifications |
                          sortBy: 'asc': 'id'; track subSpec; let i2 = $index) {
                          <tr style="--order: {{ ((i1 + 1) + i2) * 0.7 }}" class="move-up">
                            <td class="relative align-middle">
                              {{i2 + 1}}
                            </td>
                            <td class="align-middle">{{subSpec?.subSpecificationName}}</td>
                            <td
                              class="align-middle"
                              [innerHTML]="subSpec?.subSpecificationDescription"
                            ></td>
                          </tr>
                          }
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  } }
                </tbody>
              </table>
            </td>
          </tr>
          } }
        </tbody>
      </table>
    </mat-expansion-panel>
    }
  </mat-accordion>
</div>
}
