<div class="table-cover">
  @if (loading) {
    <app-loader
      @fadeIn
      message="{{ loadingMessage || 'Please Wait...' }}"
    ></app-loader>
  }
  <mat-card appearance="outlined" class="p-0 overflow-x-hidden">
    <div class="top-area">
      <div class="search-area px-4 pt-4">
        @if (tableConfigurations.showSearch) {
          <mat-form-field
            appearance="outline"
            >
            <mat-label>
              <mat-icon>search</mat-icon>
              Search
            </mat-label>
            <!--<input matInput [(ngModel)]="searchQuery" placeholder="Search">-->
            <input
              autocomplete="off"
              matInput
              (keyup)="applyFilter($event.target)"
              placeholder="Search"
              />
          </mat-form-field>
        }
      </div>
      <!-- <div class="excel-button" *appHasPermission="permissions?.export || ''">
      <mat-menu #appMenu="matMenu" class="profile-menu">
        <button mat-menu-item>
          <mat-icon>picture_as_pdf</mat-icon>
          PDF
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
          <mat-icon>content_copy</mat-icon>
          COPY
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
          <mat-icon>insert_drive_file</mat-icon>
          EXCEL
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
          <mat-icon>insert_drive_file</mat-icon>
          CSV
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item>
          <mat-icon>print</mat-icon>
          Print
        </button>
      </mat-menu>
      <button [matMenuTriggerFor]="appMenu" mat-raised-button *ngIf="!tableConfigurations.hideExport">
        <mat-icon style="margin-bottom: 5px; color: green">file_download</mat-icon>
        Export
        <mat-icon style="margin-bottom: 5px; color: green">arrow_drop_down</mat-icon>
      </button>
    </div> -->
  </div>
  @if (tableList?.length != 0) {
    <table
      [ngClass]="{ 'table-bordered': tableConfigurations.showBorder }"
      mat-table
      [trackBy]="trackByFn"
      [dataSource]="dataSource"
      multiTemplateDataRows
      matSort
      >
      <!-- Number Column -->
      <ng-container matColumnDef="position">
        <th class="w-16" mat-header-cell *matHeaderCellDef>
          @if (!expandRow) {
            <span>No</span>
          }
        </th>
        <td
          (click)="toggleExpansion(element)"
          mat-cell
          *matCellDef="let element; let i = index"
          [ngClass]="{
            'cursor-pointer': expandRow,
            active: tableConfigurations.active[element[propertyToUse]],
            error: element?.hasError,
            success: element?.hasSuccess
          }"
          >
          @if (expandRow) {
            <a
              class="mr-4 flex items-center"
              class="px-3 text-xs font-medium text-center rounded-lg"
              >
              @if (!isExpanded[element.appRowId] && expandRow) {
                <mat-icon
                  >keyboard_arrow_right</mat-icon
                  >
                }
                @if (isExpanded[element.appRowId] && expandRow) {
                  <mat-icon
                    >keyboard_arrow_down</mat-icon
                    >
                  }
                </a>
              }
              @if (!expandRow) {
                <span> {{ element.appRowId + 1 }}</span>
              }
            </td>
          </ng-container>
          @if (tableConfigurations.allowDataEdition) {
            @for (column of tableConfigurations.tableColumns; track column) {
              <ng-container
                matColumnDef="{{ column.name }}"
                >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ column.label }}
                </th>
                <td
                  (click)="toggleExpansion(element)"
                  mat-cell
                  *matCellDef="let element"
            [ngClass]="{
              'cursor-pointer': expandRow,
              active: tableConfigurations.active[element[propertyToUse]],
              error: element?.hasError,
              success: element?.hasSuccess,
              blurred: tableConfigurations.deleting[element[propertyToUse]]
            }"
                  style="max-width: 250px"
                  (click)="getRecord(element[column.name], element)"
                  [title]="element?.tableToolTip || ''"
                  >
                  @if (column && column.type == 'number') {
                    <span>
                      {{ element[column.name] | number }}
                    </span>
                  }
                  @if (column && column.type == 'html') {
                    <span>
                      <div [innerHTML]="element[column.name]"></div>
                    </span>
                  }
                  @if (column && column.type == 'color') {
                    <span
                      [style.backgroundColor]="element[column.name]"
                      >
                      {{ element[column.name] }}
                    </span>
                  }
                  @if (column && column.type == 'date') {
                    <span>
                      {{ element[column.name] | date : "mediumDate" }}
                    </span>
                  }
                  @if (column && column.type == 'dateTime') {
                    <span>
                      <!--              {{ element[column.name] | date : "medium" }}-->
                      {{ element[column.name] | safeDate : "medium" : 'en-US': "UTC +3" }}
                    </span>
                  }
                  @if (column && column.type == 'image') {
                    <span>
                      <img
                        [src]="element[column.name]"
                        style="height: 60px; width: 60px"
                        />
                    </span>
                  }
                  @if (
                    column && !column.case &&
                    column.type != 'date' &&
                    column.type != 'dateTime' &&
                    column.type != 'number' &&
                    column.type != 'image' &&
                    column.type != 'html' &&
                    column.type != 'color' &&
                    edit !== element[column.name]
                    ) {
                    <span
                      >
                      {{ element[column.name] }}
                    </span>
                  }
                  @if (column && column.case == 'titlecase') {
                    {{ element[column.name] | removeUnderScore | titlecase }}
                  }
                  @if (column && column.case == 'uppercase') {
                    {{ element[column.name] | removeUnderScore | uppercase }}
                  }
                  @if (column && column.case == 'lowercase') {
                    {{ element[column.name] | removeUnderScore | lowercase }}
                  }
                  @if (edit == element[column.name]) {
                    <span contenteditable="true">
                      <mat-form-field>
                        <textarea
                          class="form-control rounded-0"
                          id="exampleFormControlTextarea1"
                          rows="10"
                          [(ngModel)]="element[column.name]"
                          (focusout)="onSave(element)"
                          matInput
                        ></textarea>
                      </mat-form-field>
                    </span>
                  }
                </td>
              </ng-container>
            }
          }
          @if (!tableConfigurations.allowDataEdition) {
            @for (column of tableConfigurations.tableColumns; track column) {
              <ng-container
                matColumnDef="{{ column.name }}"
                >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ column.label }}
                </th>
                <td
                  (click)="toggleExpansion(element)"
                  mat-cell
                  *matCellDef="let element"
            [ngClass]="{
              'cursor-pointer': expandRow,
              active: tableConfigurations.active[element[propertyToUse]],
              error: element?.hasError,
              success: element?.hasSuccess,
              blurred: tableConfigurations.deleting[element[propertyToUse]]
            }"
                  style="max-width: 250px"
                  [title]="element?.tableToolTip || ''"
            [ngStyle]="{
              backgroundColor:
                column.type == 'color' ? element[column.name]?.color : '',
              'text-align': column.align ? column.align : '',
              'padding-right': '5px'
            }"
                  >
                  @if (column.type == 'number') {
                    <span>
                      {{ element[column.name] | number }}
                    </span>
                  }
                  @if (column && column.type == 'html') {
                    <span>
                      <div [innerHTML]="element[column.name]"></div>
                    </span>
                  }
                  @if (column.type == 'star') {
                    @for (n of arrayOne(element[column.name]); track n) {
                      <span>
                        ⭐️
                      </span>
                    }
                  }
                  @if (column.type == 'date') {
                    <span>
                      {{ element[column.name] | date : "mediumDate" }}
                    </span>
                  }
                  @if (column.type == 'dateTime') {
                    <span>
                      <!--              {{ element[column.name] | date : "medium" : "UTC +3" }}-->
                      {{ element[column.name] | safeDate : "medium" : 'en-US': "UTC +3" }}
                    </span>
                  }
                  @if (column.type == 'image') {
                    <span>
                      <img
                        [src]="element[column.name]"
                        style="height: 60px; width: 60px"
                        />
                    </span>
                  }
                  @if (column.type == 'color') {
                    <span>
                      {{ element[column.name]?.text }}
                    </span>
                  }
                  @if (
                    !column.case &&
                    column.type != 'date' &&
                    column.type != 'dateTime' &&
                    column.type != 'number' &&
                    column.type != 'html' &&
                    column.type != 'image' &&
                    column.type != 'color' &&
                    column.type != 'star' &&
                    edit !== element[column.name]
                    ) {
                    <span
                      >
                      {{ element[column.name] }}
                    </span>
                  }
                  @if (column.case == 'titlecase') {
                    {{ element[column.name] | removeUnderScore | titlecase }}
                  }
                  @if (column.case == 'uppercase') {
                    {{ element[column.name] | removeUnderScore | uppercase }}
                  }
                  @if (column.case == 'lowercase') {
                    {{ element[column.name] | removeUnderScore | lowercase }}
                  }
                </td>
              </ng-container>
            }
          }
          <!--Action Icons-->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td
              mat-cell
              *matCellDef="let tableListItem"
          [ngClass]="{
            active: tableConfigurations.active[tableListItem[propertyToUse]],
            error: tableListItem?.hasError,
            success: tableListItem?.hasSuccess
          }"
              >
              @if (
                tableConfigurations.actionIcons.edit ||
                tableConfigurations.actionIcons.print ||
                tableConfigurations.actionIcons.delete ||
                tableConfigurations.actionIcons.more ||
                tableConfigurations.actionIcons.cancel ||
                tableConfigurations.actionIcons.download ||
                tableConfigurations.actionIcons.customPrimary ||
                actionButtons.length > 0
                ) {
                <div
                  class="float-right btn__group"
                  role="group"
                  aria-label="Basic table"
                  >
                  <ng-container *appHasPermission="tableListItem.actionButtonsPermissions?.customPrimary || permissions?.customPrimary || ''">
                    @if (
                      tableConfigurations?.actionIcons?.customPrimary &&
                      !showDelete[tableListItem[propertyToUse]] &&
                      (tableListItem | showButton : 'customPrimary')
                      ) {
                      <button
                        mat-raised-button
                        class="cursor btn-sm mr-2"
                        title="{{ tableConfigurations.customPrimaryMessage }}"
                style="
                  color: white;
                  background-color: #00405d;
                  line-height: 30px;
                  padding: 0px 10px !important;
                  font-size: 10px;
                  border-radius: 5px !important;
                  white-space: nowrap;
                "
                        (click)="customPrimaryItem(tableListItem)"
                        >
                        {{
                        tableListItem.customPrimaryMessage
                        ? tableListItem.customPrimaryMessage
                        : tableConfigurations.customPrimaryMessage
                        }}
                      </button>
                    }
                  </ng-container>
                  <ng-container>
                    @if (
                      tableConfigurations?.actionIcons?.print &&
                      !showDelete[tableListItem[propertyToUse]]
                      ) {
                      <a
                        @fadeIn
                        mat-icon-button
                        title="print"
                        (click)="printItem(tableListItem)"
                        style="border-radius: 50%"
                        >
                        <mat-icon style="padding: 2px; font-size: 18px">print</mat-icon>
                      </a>
                    }
                  </ng-container>
                  <ng-container>
                    @if (
                      tableConfigurations?.actionIcons?.more &&
                      !showDelete[tableListItem[propertyToUse]] &&
                      (tableListItem | showButton : 'more')
                      ) {
                      <a
                        mat-icon-button
                        title="view details"
                        (click)="viewItemDetails(tableListItem)"
                        style="border-radius: 50%"
                        >
                        <mat-icon svgIcon="s_view"></mat-icon>
                      </a>
                    }
                  </ng-container>
                  <ng-container *appHasPermission="tableListItem.actionButtonsPermissions?.edit || permissions?.edit || ''">
                    @if (
                      tableConfigurations?.actionIcons?.edit &&
                      !showDelete[tableListItem[propertyToUse]] &&
                      (tableListItem | showButton : 'edit')
                      ) {
                      <a
                        mat-icon-button
                        title="edit"
                        (click)="editItem(tableListItem)"
                        style="color: #00405d"
                        >
                        <mat-icon svgIcon="edit">mode_edit</mat-icon>
                      </a>
                    }
                  </ng-container>
                  <ng-container *appHasPermission="permissions['download'] || ''">
                    @if (
                      tableConfigurations?.actionIcons?.download &&
                      !showDownload[tableListItem[propertyToUse]]
                      ) {
                      <a
                        mat-icon-button
                        title="Download"
                        (click)="downloadItem(tableListItem)"
                        style="border-radius: 50%"
                        >
                        <mat-icon color="primary">mode_edit</mat-icon>
                      </a>
                    }
                  </ng-container>
                  <ng-container *appHasPermission="tableListItem.actionButtonsPermissions?.delete || permissions?.delete || ''">
                    @if (
                      tableConfigurations?.actionIcons?.delete &&
                      !showDelete[tableListItem[propertyToUse]] &&
                      (tableListItem | showButton : 'delete')
                      ) {
                      <a
                        mat-icon-button
                        (click)="showDelete[tableListItem[propertyToUse]] = true"
                        color="warn"
                        title="delete"
                        >
                        <mat-icon>delete</mat-icon>
                      </a>
                    }
                  </ng-container>
                  <!--extra menu items-->
                  <ng-container *appHasPermission="tableListItem.actionButtonsPermissions?.moreActions || permissions?.moreActions || ''">
                    @if (
                      actionButtons.length != 0 &&
                      (actionButtons | showOtherButtons : tableListItem)
                      ) {
                      <button
                        title="More Actions"
                        mat-button
                        [matMenuTriggerFor]="menuItem1"
                        >
                        <mat-icon>more_vert</mat-icon>
                      </button>
                    }
                  </ng-container>
                  <mat-menu #menuItem1="matMenu">
                    @for (btn of actionButtons; track btn) {
                      <ng-container *appHasPermission="permissions[btn[propertyToUse]] || ''">
                        @if (tableListItem | showButton : btn[propertyToUse]) {
                          <button
                            mat-menu-item
                            [title]="btn.title"
                            (click)="submitCustomButtom(btn, tableListItem, 'first')"
                            >
                            @if (btn.icon) {
                              <i
                                [className]="btn.icon"
                                [style.color]="btn.textColor || 'black'"
                              ></i>
                            }
                            @if (btn.image) {
                              <img
                                [src]="btn.image"
                                style="height: 20px"
                                [alt]="btn.title"
                                />
                            }
                            {{ btn.label }}
                          </button>
                        }
                      </ng-container>
                    }
                  </mat-menu>
                  @if (
                    tableConfigurations?.actionIcons?.cancel &&
                    !showDelete[tableListItem[propertyToUse]]
                    ) {
                    <button
                      @fadeIn
                      mat-flat-button
                      (click)="showDelete[tableListItem[propertyToUse]] = true"
                      title="Cancel"
                      >
                      <mat-icon>cancel</mat-icon>
                      Cancel
                    </button>
                  }
                  <!-- Confirmation message for additional button -->
                  @for (btn of actionButtons; track btn) {
                    @if (
                      tableConfigurations.loading &&
                      tableConfigurations.loading[btn[propertyToUse] + tableListItem[propertyToUse]]
                      ) {
                      <app-loader
                        [message]="btn.loading_message!"
                      ></app-loader>
                    }
                    @if (showButtonConfirm[btn[propertyToUse] + tableListItem[propertyToUse]]) {
                      <p>
                        {{ btn.confirm_message }}
                      </p>
                    }
                    @if (showButtonConfirm[btn[propertyToUse] + tableListItem[propertyToUse]]) {
                      <p>
                        @if (
                          !(
                          tableConfigurations.loading &&
                          tableConfigurations.loading[btn[propertyToUse] + tableListItem[propertyToUse]]
                          )
                          ) {
                          <button
                            mat-mini-fab
                            class="cursor"
                            color="warn"
                            (click)="submitCustomButtom(btn, tableListItem, 'last')"
                            >
                            <mat-icon>done</mat-icon>
                          </button>
                        }
                        @if (
                          !(
                          tableConfigurations.loading &&
                          tableConfigurations.loading[btn[propertyToUse] + tableListItem[propertyToUse]]
                          )
                          ) {
                          <button
                            mat-mini-fab
                            class="cursor"
                            color="primary"
                            (click)="showButtonConfirm = {}"
                            >
                            <mat-icon>clear</mat-icon>
                          </button>
                        }
                      </p>
                    }
                  }
                  <!-- ===================================================== -->
                  <!--delete confirmation-->
                  @if (
                    showDelete[tableListItem[propertyToUse]] &&
                    !tableConfigurations.deleting[tableListItem[propertyToUse]]
                    ) {
                    <p
                      @fadeIn
                      >
                      Are You sure?
                    </p>
                  }
                  @if (
                    showDelete[tableListItem[propertyToUse]] &&
                    tableConfigurations.deleting[tableListItem[propertyToUse]]
                    ) {
                    <p
                      @fadeIn
                      >
                      @if (tableConfigurations?.actionIcons?.cancel) {
                        <span
                          >Canceling</span
                          >
                        }
                        @if (tableConfigurations?.actionIcons?.delete) {
                          <span
                            >Deleting</span
                            >
                          }
                        </p>
                      }
                      @if (showDelete[tableListItem[propertyToUse]]) {
                        <p @fadeIn>
                          @if (tableConfigurations.deleting[tableListItem[propertyToUse]]) {
                            <mat-progress-bar
                              mode="indeterminate"
                              @fadeIn
                              >
                            </mat-progress-bar>
                          }
                          @if (!tableConfigurations.deleting[tableListItem[propertyToUse]]) {
                            <button
                              mat-mini-fab
                style="
                  color: white;
                  background-color: red;
                  border-radius: 50% !important;
                "
                              @fadeIn
                              (click)="showDelete = {}"
                              >
                              <mat-icon>clear</mat-icon>
                            </button>
                          }
                          @if (!tableConfigurations.deleting[tableListItem[propertyToUse]]) {
                            <button
                              mat-mini-fab
                style="
                  color: white;
                  background-color: green;
                  border-radius: 50% !important;
                "
                              @fadeIn
                              (click)="deleteItem(tableListItem)"
                              >
                              <mat-icon>done</mat-icon>
                            </button>
                          }
                        </p>
                      }
                    </div>
                  }
                </td>
              </ng-container>
              @if (tableConfigurations.allowCheckbox) {
                <ng-container
                  matColumnDef="checkAction">
                  <th mat-header-cell *matHeaderCellDef >
                    <input type="checkbox" [(ngModel)]="allChecked" (click)="checkAll()">
                  </th>
                  <td  mat-cell *matCellDef="let tableListItem">
                    <input type="checkbox" id="{{tableListItem.uuid}}" [(ngModel)]="checking[tableListItem.uuid]" (click)="checkIndividual(tableListItem)">
                  </td>
                </ng-container>
              }
              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
              <ng-container matColumnDef="expandedDetail">
                <td
                  mat-cell
                  *matCellDef="let element"
                  [attr.colspan]="displayedColumns.length"
                  >
                  <div
                    class="table-element-detail"
            [@detailExpand]="
              element == expandedElement ? 'expanded' : 'collapsed'
            "
                    >
                    @if (isExpanded[element.appRowId] && expandRow) {
                      <div
                        class="w-full p-2 bg-gray-100"
                        >
                        <ng-container
                          [ngTemplateOutlet]="expandedRow"
                          [ngTemplateOutletContext]="{ data: element }"
                          >
                        </ng-container>
                      </div>
                    }
                  </div>
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns"
                style="background-color: rgba(0, 0, 0, 0.1); opacity: 0.8"
              ></tr>
              <tr
                mat-row
                *matRowDef="let element; columns: displayedColumns; let i = index"
                [class.table-expanded-row]="expandedElement === element"
                class="card-1"
                [class.selected-row]="isExpanded[element.appRowId] && expandRow"
              ></tr>
              <tr
                mat-row
                *matRowDef="let element; columns: ['expandedDetail']"
                class="table-detail-row"
              ></tr>
            </table>
          } @else {
            <table
              [ngClass]="{ 'table-bordered': tableConfigurations.showBorder }"
              mat-table
              [trackBy]="trackByFn"
              [dataSource]="dataSource"
              matSort
              class="mat-elevation-z2"
              >
              <!-- Number Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
                <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
              </ng-container>
              <!-- Position Column -->
              @for (column of tableConfigurations.tableColumns; track column) {
                <ng-container
                  matColumnDef="{{ column.name }}"
                  >
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ column.label }}
                  </th>
                  <td mat-cell *matCellDef="let element">{{ element[column.name] }}</td>
                </ng-container>
              }
              <!--Action Icons-->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let tableListItem">&nbsp;</td>
              </ng-container>
              <ng-container matColumnDef="checkAction">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let tableListItem">&nbsp;</td>
              </ng-container>
              <!-- Disclaimer column -->
              <ng-container matColumnDef="disclaimer">
                <td
                  mat-footer-cell
                  *matFooterCellDef
                  [attr.colspan]="displayedColumns.length"
                  >
                  @if (!loading) {
                    <p class="text-center text-base text-muted pt-2">
                      {{ tableConfigurations.empty_msg || "No data" }}
                    </p>
                  }
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns"
                style="background-color: rgba(0, 0, 0, 0.1); opacity: 0.8"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns; let i = index"
                [ngClass]="routeAnimationsElements"
                class="hover:scale-x-105"
                style="--order: {{ i * 0.7 }}"
              ></tr>
              <tr
                mat-footer-row
                *matFooterRowDef="['disclaimer']"
                class="table-second-footer-row"
              ></tr>
            </table>
          }
          <!--Pagination-->
          <mat-paginator
            [ngClass]="{ hidden: !tableConfigurations.allowPagination }"
            [pageSizeOptions]="[10, 20, 25, 50, 100]"
            (page)="onPage($event)"
            showFirstLastButtons
            >
          </mat-paginator>
        </mat-card>
      </div>
