<div class="flex flex-col items-center justify-center h-screen space-y-4">
	<!-- Main Container -->
	<div class="flex items-center space-x-4">
		<!-- Left Arrow -->
		<div class="w-12 h-12 bg-gray-300 rounded-full animate-pulse flex items-center justify-center">
			<svg class="w-6 h-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
				<path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
			</svg>
		</div>

		<!-- Image Skeleton w-64 h-64-->
		<div class="min-w-[320px] min-h-[320px] max-w-xs p-4  sm:min-w-[360px] sm:min-h-[360px] md:min-w-[420px] md:min-h-[420px] lg:min-w-[492px] lg:min-h-[492px] lg:max-w-sm bg-gray-300 rounded-md animate-pulse flex items-center justify-center">
			<svg class="w-20 h-20 text-gray-200 dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
				<path d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"/>
			</svg>
		</div>

		<!-- Right Arrow -->
		<div class="w-12 h-12 bg-gray-300 rounded-full animate-pulse flex items-center justify-center">
			<svg class="w-6 h-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
				<path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
			</svg>
		</div>
	</div>

	<!-- Buttons -->
	<div class="mt-4 gap-3 flex flex-row">
		<div class="w-6 h-6 bg-gray-300 rounded-full animate-pulse"></div>
		<div class="w-6 h-6 bg-gray-300 rounded-full animate-pulse"></div>
		<div class="w-6 h-6 bg-gray-300 rounded-full animate-pulse"></div>

	</div>
</div>