<div class="accordion border border-gray-50 rounded-md shadow-sm divide-y">
  <div class="accordion-header flex justify-between" (click)="toggleItem(index)">
    <div class="flex items-center  gap-2">
      @if (!useColoredIndex) {
        <div class="circle-index">{{index}}</div>
      }
      @if (useColoredIndex) {
        <div
        class="rounded-full aspect-square w-6 flex
           justify-center items-center grip place-content-center
           text-white text-xs bg-[#1394db]">
          <span>{{ index }}</span>
        </div>
      }

      <div class="title">{{title}}</div>
    </div>
    <div class="flex items-center justify-end">
      <div class="flex items-center justify-center rounded-full h-8 w-8" (click)="viewMoreAction()">
        <mat-icon  class="text-gray-400 hover:!text-primary"
          matSuffix
          matTooltip="{{viewMoreToolTip}}">
          help_outline
        </mat-icon>
      </div>
    </div>
  </div>
  @if (isCurrentItem) {
    <div class="accordion-content py-2 px-4" @fadeSmooth>
      <div>{{description}}</div>
      <ng-content></ng-content>
    </div>
  }
</div>
